@charset "UTF-8";
header {
  margin: auto;
  padding: auto;
  background-color: black;
  position: sticky;
  display: flex;
  top: 0px;
  flex-direction: row;
  z-index: 1;
  width: 100%;
}

.logoEmpresa {
  width: 10rem;
  top: 0px;
  display: grid;
  grid-area: "logoEmpresa";
}

.nav_link__titulos {
  display: grid;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: solid;
}

.nav_link__principal {
  display: grid;
  color: fuchsia;
  font-weight: 350;
  text-transform: uppercase;
  text-decoration: solid;
  transition: height 2s;
  transition: width 1s;
}

@media (min-width: 768px) {
  #collapse, #collapsed {
    display: none;
  }
  .nav {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logoEmpresa list";
    list-style: none;
    padding: 0px 0;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    top: 0rem;
    align-items: flex-end;
    justify-items: flex-end;
  }
  .nav_link__titulos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: justify;
  }
  .nav_link__titulos :hover {
    height: 2rem;
    font-size: 1.5rem;
  }
  .nav_link__principal {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1024px) {
  .nav {
    align-items: flex-end;
    justify-content: space-around;
  }
  .nav .ul {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .nav_link__titulos {
    flex-wrap: nowrap;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .nav_link__principal {
    flex-wrap: nowrap;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}
footer {
  margin: auto;
  padding: 0rem 0rem 0rem 0rem;
  background-color: black;
  position: relative;
  bottom: 0rem;
  top: 0rem;
  width: 100%;
}

.fontFrases--white {
  font-family: "Caveat";
  text-align: center;
  font-size: large;
  margin: 1rem 1rem 1rem 1rem;
  color: white;
}

.footerGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "contactanos seguinos arriba" "whatsapp redes .";
  grid-column-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.contactanos {
  display: grid;
  grid-area: "contactanos";
  grid-column: 1;
}

.seguinos {
  display: grid;
  grid-area: "seguinos";
  grid-column: 2;
}

.arriba {
  display: grid;
  grid-area: "arriba";
  grid-column: 3;
}

.footer-letters {
  color: white;
  list-style: none;
  padding: 0px 0;
  width: 100%;
  margin: auto;
}

.redesSociales {
  grid-column: 2;
  grid-row: 2;
}

.footerInstagram {
  width: 2.2rem;
}

.footerFacebook {
  width: 2rem;
}

.footerWhatsapp {
  width: 2rem;
  grid-column: 1;
  grid-row: 2;
}

.footerSubir {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: justify;
}

@media (min-width: 768px) {
  .fontFrases--white {
    font-size: 1.4rem;
  }
  .footer-letters {
    font-size: 1.1rem;
  }
}
.tortaIndexLeft {
  display: flex;
  height: 18rem;
  width: 12rem;
  background: white;
  color: black;
  padding: auto;
  border-style: groove;
  border-color: white;
  align-content: center;
}

.tortaIndexRight {
  display: flex;
  height: 18rem;
  width: 12rem;
  background: white;
  color: black;
  padding: auto;
  border-style: groove;
  border-color: white;
  margin-bottom: 3rem;
}

.imgIndex {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 1rem;
}

.backgroundsIndex2 {
  background-color: white;
  color: black;
  width: 50%;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-style: groove;
  border-radius: 1rem;
  border-color: grey;
  margin: 3rem 0rem 3rem 0rem;
  font-size: 2rem;
  font-family: "Caveat";
  text-align: center;
  font-weight: 900;
}
.backgroundsIndex2 .cajaTitulos {
  font-family: "Caveat";
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  opacity: none;
  animation: fadeIn;
  animation-duration: 2s;
}
.backgroundsIndex2 .cajaTexto {
  margin: 0rem 1rem 1rem 1rem;
  opacity: none;
}

@media (min-width: 768px) {
  .tortaIndexLeft {
    margin-right: 20rem;
    padding: auto;
  }
  .tortaIndexRight {
    position: absolute;
    height: 18rem;
    width: 12rem;
    margin-top: 21rem;
    margin-left: 20rem;
  }
  .backgroundsImage {
    padding: 2rem 2rem 2rem 2rem;
  }
  .mensaje {
    height: 20rem;
    width: 30rem;
  }
}
@media (min-width: 1024px) {
  .tortaIndexLeft {
    margin: 30rem 55rem 0rem 0rem;
    position: absolute;
    top: 0px;
  }
  .tortaIndexRight {
    margin: 30rem 0rem 50rem 55rem;
    position: absolute;
    top: 0px;
  }
  .backgroundsText {
    width: 30rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .backgroundsImage {
    padding: 2rem 2rem 2rem 2rem;
    font-size: 1.5rem;
  }
}
.tableTortas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cajaTitulos {
  font-family: "Caveat";
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  opacity: none;
  animation: fadeIn;
  animation-duration: 2s;
}

.tamañoImagenesMensaje {
  width: 100%;
  margin-bottom: 1rem;
  background-color: none;
  background-position: center;
  background-repeat: round;
  color: black;
  padding: 3rem 3rem 5rem 3rem;
  border-style: groove;
  border-color: white;
  text-align: start;
  line-height: 2rem;
  border-radius: 1rem;
}

.backgrounds {
  background-color: white;
  color: black;
  width: 100%;
  height: 5rem;
  border-style: groove;
  border-radius: 1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Caveat";
  font-weight: bold;
  text-align: center;
  position: relative;
  animation-name: text;
}

.backgroundstorta {
  background-color: none;
  color: black;
  width: 100%;
  height: 14rem;
  border-style: groove;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  text-align: center;
  position: relative;
  animation-name: text;
}

@media (min-width: 768px) {
  .tamañocarrousel {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .tamañocarrousel {
    width: 30%;
  }
}
fieldset {
  background-color: none;
  background-position: center;
  background-repeat: repeat-y;
  border-color: rgb(156, 86, 156);
  padding: 2rem 0rem 2rem 0rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Caveat";
  text-align: center;
  line-height: 1.9rem;
  align-items: center;
  border-radius: 1rem;
  display: grid;
  flex-wrap: wrap;
}
fieldset input {
  font-family: "Montserrat";
  font-size: large;
  border-radius: 2rem;
  border-color: fuchsia;
  opacity: 0.5;
}
fieldset textarea {
  padding: 4rem 4rem 4rem 4rem;
  opacity: 0.5;
  text-emphasis-color: black;
}

.btn {
  position: relative;
  font-family: "Caveat";
  font-size: 1.5rem;
  border-bottom-style: inset;
  padding: 3px 3px 3px 3px;
  border-color: fuchsia;
  color: black;
  margin-bottom: 3px;
  border-radius: 2rem;
  z-index: 1;
  overflow: hidden;
  transition: all 0.7s;
}
.btn:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 190%;
  background-color: rgb(231, 126, 231);
  z-index: -1;
  transition: all 0.7s;
}
.btn:hover:before {
  height: 190%;
}
.btn:hover {
  color: none;
}

.fontFrases {
  width: auto;
  font-family: "Caveat";
  text-align: center;
  font-size: 1.5rem;
  margin: 0rem 1rem 1rem 1rem;
  font-weight: 900;
}

@media (min-width: 1024px) {
  .btn {
    font-size: 1.7rem;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    margin-top: 1rem;
    border-radius: 2rem;
  }
}
.ordenImagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem 1rem 0rem 1rem;
}

.backgroundsOptions {
  background-color: none;
  color: black;
  width: 50%;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-style: groove;
  border-radius: 1rem;
  border-color: grey;
  margin: 3rem 0rem 3rem 0rem;
  font-size: 2rem;
  font-family: "Caveat";
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: 900;
  z-index: 0;
}
.backgroundsOptions .backgroundsBox {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-style: groove;
  border-radius: 1rem;
  align-items: center;
}

.backgroundsText {
  background-color: white;
  color: black;
  width: 100%;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-style: groove;
  border-radius: 1rem;
  border-color: grey;
  margin: 3rem 0rem 3rem 0rem;
  font-size: 2rem;
  font-family: "Caveat";
  text-align: center;
  font-weight: 900;
}

.tamañoImagenes--tortas {
  display: flex;
  margin-bottom: 2rem;
  width: 25rem;
  height: 25rem;
  background-color: none;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  padding: 2rem 2rem 2rem 2rem;
  border-style: groove;
  border-color: white;
  border-radius: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 1024px) {
  .backgroundsOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .backgroundsOptions .backgroundsBox {
    width: 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1370px;
  position: relative;
}

img {
  max-width: 100%;
}

.tamañoLogos {
  width: 3%;
}

table {
  padding: 0rem 0rem 0rem 0rem;
  border: auto;
  height: 10rem;
  width: 20rem;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/background4.jpg);
  background-position: center;
  background-size: cover;
}
body section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body section h1 {
  font-family: "Caveat";
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  opacity: none;
  animation: fadeIn;
  animation-duration: 2s;
}
body section h2 {
  font-family: "Caveat";
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  opacity: none;
  animation: fadeIn;
  animation-duration: 2s;
}

@media (min-width: 768px) {
  .container {
    width: 85%;
  }
}

/*# sourceMappingURL=style.css.map */
