@import "variables";

fieldset {
    background-color: none;
    background-position: center;
    background-repeat: repeat-y; 
    border-color: $hoverBoton;
    padding: 2rem 0rem 2rem 0rem; 
    text-transform: uppercase; 
    font-size: 1.3rem;
    font-family:"Caveat" ;
    text-align: center; 
    line-height: 1.9rem;
    align-items: center;
    border-radius: 0rem;
    display: grid;
    flex-wrap: wrap;

    input{
        font-family: "Montserrat";
        font-size:large;
        border-radius: 2rem;
        border-color: $colorFuchsia;
        opacity: 0.5;
    }

    
    textarea{
        padding: 4rem 4rem 4rem 4rem;
        opacity: 0.5;
        text-emphasis-color: black;
    }
}

.fontFrases{
    width:auto ;
    font-family: "Caveat"; 
    text-align: center; 
    font-size: 1.5rem; 
    margin: 0rem 1rem 1rem 1rem ;
    font-weight: 900;
}

@media(min-width:1024px){

    .btn{
            font-size: 1.7rem;
            padding: 0.6rem 0.6rem 0.6rem 0.6rem;
            margin-top: 1rem;
            border-radius: 2rem;
    }

}
