@import "variables";

.tortasIndexStyle{
    height: 40rem;
    width: 30rem;  
    background: white; 
    border-style: $bordeBoton; 
    border-color: white;
    align-items: center;
    margin-bottom: 2rem;
}

@mixin imgIndex{
        height: 20rem;
        width: 24rem;
        margin: 1rem 0.3rem 1rem 0.3rem;
        border-style: $bordeBoton; 
        border-color: white;
        background-repeat: round;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

.imgIndexRight{
    @include imgIndex;
    background-image: url(../img/minicake2.jpg); 
}

.imgIndexLeft{
    @include imgIndex;
    background-image: url(../img/Box1.jpg); 
}

.backgroundIndex{
    width: 20%;
}
.imgIndex{
    margin-bottom: 2rem;
    display: flex;
    border-radius: 1rem;
    justify-items: center;

}

.backgroundsIndex2{
    background-color: $fondoBoxRosa;
    height: 40rem;
    width: 25rem;  
    align-content: stretch;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem; 
    margin: 0rem 0.52rem 2rem 0.52rem; 

    .cajaTitulos{
        font-family: "Caveat"; 
        margin: 1rem 1rem 1rem 1rem; 
        text-align: center; 
        font-weight: bold; 
        font-size: 2rem;
        opacity: none;
        animation: fadeIn;
        animation-duration: 2s;
    }

    .cajaTexto{
        margin: 0rem 1rem 1rem 1rem;
        opacity: none;
    }
}

.cajaIndex{
    background-color: lightgrey;
    height: 10rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: justify;

}

@media(min-width:768px){

    @mixin imgIndex{
        height: 30rem;
        width: 36rem;
    }

    .imgIndexRight{
        @include imgIndex;
    }

    .imgIndexLeft{
        @include imgIndex;
    }

    .tortasIndexStyle{
        height: 30rem;
        width: 20rem;  
    }

    .backgroundsImage {
            padding: 2rem 2rem 2rem 2rem; 
    }

    .mensaje{
           height: 20rem;
           width: 30rem;
    }
}    

@media(min-width:1024px){

    @mixin imgIndex{
        height: 32.5rem;
        width: 38.1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .imgIndexRight{
        @include imgIndex;
        margin-left: 2rem;
    }

    .imgIndexLeft{
        @include imgIndex;
    }

    .tortasIndexStyle{
        margin-top: 1rem;
        height: 40rem;
        width: 30rem;  
    }

    .backgroundsIndex2{
        padding: 8rem 2rem 0.2rem 2rem;
        margin-top: 1rem;

    }

    .backgroundsText{
            width: 30rem; 
            padding: 1rem 1rem 1rem 1rem; 
    }

    .backgroundsImage {
            padding: 2rem 2rem 2rem 2rem; 
            font-size: 1.5rem;
    }

    .cajaIndex{
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 3rem;
    
    }

}
