@import "variables";

.tableTortas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.cajaTitulos{
        font-family: "Caveat"; 
        margin: 1rem 1rem 1rem 1rem; 
        text-align: center; 
        font-weight: bold; 
        font-size: 2rem;
        opacity: none;
        animation: fadeIn;
        animation-duration: 2s;
    }

.tamañoImagenesMensaje{
        width: 100%; 
        margin-bottom: 1rem;
        background-color:none;
        background-position: center;
        background-repeat: round;
        color: $colorBlack; 
        padding: 3rem 3rem 5rem 3rem; 
        border-style: $bordeBoton; 
        border-color: white; 
        text-align: start;
        line-height: 2rem;
        border-radius: 1rem;
}

.backgroundsStyle{
        width: 100%;
        border-style: $bordeBoton; 
        color: $colorBlack; 
        border-radius: 1rem;
        margin-bottom: 2rem; 
        text-align: center; 
        position: relative;
        animation-name: text;
}

.backgrounds{
        @extend.backgroundsStyle;
        background-color: white; 
        height: 5rem; 
        text-transform: uppercase; 
        font-size: 1.5rem;
        font-family:"Caveat" ; 
        font-weight: bold;
}

.backgroundstorta {
        @extend.backgroundsStyle;
        background-color: none; 
        height: 10rem; 
        font-size: 1.4rem;
}

@media(min-width:768px){

        .tamañocarrousel{
                width: 70%;
        }
    }

@media(min-width:1024px){

        .tamañocarrousel{
                width: 50%;
               
        }
    
    }